@import "main.less";
/*author*/
@import "less/components/author.less";

/*btn-green*/
@import "less/components/btn-green.less";
/*btn-delete-user*/
@import "less/components/btn-add-user.less";
/*btn-delete-user*/
@import "less/components/btn-delete-user.less";
/*checkbox*/
@import "less/components/checkbox.less";
/*pop-up-info*/
@import "less/components/pop-up-info.less";
/*message*/
@import "less/components/message.less";
/*content-description*/
@import "less/components/content-description.less";
/*right-panel*/
@import "less/components/right-panel.less";
/*offers-list*/
@import "less/components/offers-list.less";
.content-center {
    @media(max-width: 1015px) {
       margin-top: 0px;
    }
}
.content-order-name-offers-list-item-author-info__padding-bottom {
    @media(max-width: 750px) {
        padding: 15px 0;
    }
    .like,
    .dislike {
        @media(max-width: 500px) {
            display: block;
            padding: 0 10px 0 0;
        }
    }
    .btn-delete {
        vertical-align: middle;
    }
}
.content-order-name-offers-list-item-author-info-item-right__position-middle-btn {
    @media(max-width: 500px) {
        margin-top: -22px;
    }
}
.right-panel {
    @media (max-width: 1015px) {
        position: static;
    }
}